<!-- <h1>Welcome to {{ hotelName }}</h1> -->
<app-header></app-header>
<!-- <app-header></app-header>
<app-header></app-header> -->

<!-- {{ rooms$ | async | json }} -->

<div [hidden]="hideRooms">
    Number Of Rooms:
    <div [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }" [innerText]="numberOfRooms"></div>
</div>

<!-- {{ rooms?.availableRooms ?? 'No rooms' }} -->

<!-- {{ roomList | json }} -->

<div *ngIf="selectedRoom">
    {{ selectedRoom | json }}
</div>

<div>
    <button (click)="addRoom()">Add room</button>
</div>

<h1>
    <!-- {{ getError$ | async }} -->
    Number of Rooms: {{ roomsCount$ | async | json }}
</h1>

<div *ngIf="rooms$ | async as rooms">
    <app-rooms-list [rooms]="rooms" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>
<button (click)="editRoom()">Edit Room</button>
<button (click)="deleteRoom()">Delete Room</button>

<h1>{{ totalBytes }} loaded</h1>